* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  border: solid brown 2px;
  scroll-snap-type: y mandatory;
}

.container .box {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.container .box:nth-child(1) {
  background-color: lightblue;
}

.container .box:nth-child(2) {
  background-color: lightcoral;
}

.container .box:nth-child(3) {
  background-color: lightgreen;
}

.container .box:nth-child(4) {
  background-color: lightslategray;
}
